.Button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;

  &_POSITIVE {
    color: #fff;
    background-color: rgb(100, 201, 100);
  }

  &_NEGATIVE {
    color: #fff;
    background-color: rgb(253, 85, 95);
  }
}