.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgb(226, 226, 226);

  &__center {
    width: 50%;
    font-size: 25px;
    text-align: center;
  }
}